 name: Project Bedrock Terraform Pipeline

 on:
   pull_request:
     branches:
       - main
   push:
     branches:
       - main

 env:
   AWS_REGION: us-east-1

 jobs:
   terraform:
     name: Terraform Plan & Apply
     runs-on: ubuntu-latest

     steps:
       - name: Checkout repository
         uses: actions/checkout@v4

       - name: Setup Terraform
         uses: hashicorp/setup-terraform@v3
         with:
           terraform_version: 1.6.6

       - name: Configure AWS credentials
         uses: aws-actions/configure-aws-credentials@v4
         with:
           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
           aws-region: us-east-1

       - name: Terraform Init
         run: terraform init

       - name: Terraform Plan
         if: github.event_name == 'pull_request'
         run: terraform plan

       - name: Terraform Apply
         if: github.event_name == 'push'
         run: terraform apply -auto-approve
